<!-- Modal -->
<div class="modal fade" id="modalUpdate<%= index %>" tabindex="-1" aria-labelledby="modalUpdate<%= index %>" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="text-align: left;">
            <div class="modal-header">
                <h1 class="modal-title fs-5 " id="exampleModalLabel">Update Book</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/admin/genre/<%= genre.data[index]._id %>" >
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" class="form-control" id="title" placeholder="Enter title..." name="title"
                                required value="<%= genre.data[index].title %>">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" id="descriptionText" name="description" rows="3" placeholder="<%= genre.data[index].description %>"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
