<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CodePen - Popular Products Section Using HTML , CSS , Bootstrap</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/books.css">
</head>

<body>
    <header>
        <%- include('../partials/header'); -%>
    </header>
    <!-- partial:index.partial.html -->
    <section class="section-products" style="background-color: #f3f2ec;">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-8 col-lg-6">
                    <div class="header">
                        <h3>Featured Product</h3>
                        <h2>Popular Books</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <% books.forEach((book) => { %>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-1" class="single-product" style="text-align: center;">
                            <div class="part-1" style="background: url('<%- book.image %>') no-repeat center !important; background-size: contain !important;">
                                <ul>
                                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                    <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                    <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                    <li><a href="<%= `/books/${book._id.toString()}` %>"><i class="fas fa-expand"></i></a></li>
                                </ul>
                            </div>
                            <div class="part-2">
                                <h3 class="product-title">
                                    <%= book.title %>
                                </h3>
                                <h4 class="product-price">
                                    $ <%= book.price %>
                                </h4>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </section>
    <!-- partial -->

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" style="background-color: #f3f2ec; margin: 0; padding: 1rem;">
            <li class="page-item <%= pre == current ? 'disabled' : '' %>">
                <a href="<%= `?page=${pre}` %>" class="page-link" href="#" style="background-color: #f3f2ec">Previous</a>
            </li>
            <% for(let i = pre; i <= next; i++) { %>
                <li class="page-item <%= i == current ? 'active' : '' %>">
                    <a  href="<%= `?page=${i}` %>" class="page-link" href="#" >
                        <%= i %>
                    </a>
                </li>
            <% } %>
            <li class="page-item <%= next == current ? 'disabled' : '' %>">
                <a href="<%= `?page=${next}` %>" class="page-link" href="#" style="background-color: #f3f2ec">Next</a>
            </li>
        </ul>
    </nav>

</body>

</html>